<div class="container">
    <div class="row col-12">
        <mat-form-field>
            <mat-label>Link</mat-label>
            <input matInput placeholder="Digite o link a ser encurtado" [formControl]="link" required>
            <mat-error *ngIf="link.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="row d-flex justify-content-center">
        <button mat-raised-button color="primary" class="col-3" (click)="onSubmit()">Encurtar</button>
    </div>
    <div class="row mt-5">
        <div class="col-5"><hr></div>
        <div class="col d-flex justify-content-center">ENCURTADOR DE LINK</div>
        <div class="col-5"><hr></div>
    </div>
    <div class="row">
        <div class="col">
            <p align="justify">
                Um "encurtador de links" é uma ferramenta online que permite reduzir a URL
                 de um site ou página da web em um link mais curto e mais gerenciável. 
                 Esses serviços são úteis por várias razões, principalmente quando se 
                 trata de compartilhar links em plataformas de redes sociais, em mensagens
                  de texto ou em qualquer situação em que o espaço para um link seja 
                  limitado.
            </p>
        </div>
        <div class="col">
            <p align="justify">
                A principal função de um encurtador de links é transformar uma 
                URL longa e complexa em um link curto, composto por alguns caracteres 
                ou letras. Por exemplo, uma URL longa como 
                "https://www.exemplo.com/pagina/nome-do-artigo" pode ser reduzida para algo
                 como "https://encurtador.com/abc123." Isso não apenas economiza espaço,
                mas também torna o 
                link mais esteticamente agradável e fácil de compartilhar.
            </p>
        </div>
        <div class="col">
            <p align="justify">
                No entanto, é importante usar os encurtadores de links com responsabilidade.
                 Às vezes, links encurtados podem ocultar o destino real, o que pode ser explorado 
                 por pessoas mal-intencionadas para redirecionar os usuários a sites maliciosos. 
                 Portanto, ao receber links encurtados, é importante verificar a fonte antes de clicar.
                  Em resumo, os encurtadores de links desempenham um papel valioso na simplificação e 
                  otimização do compartilhamento de URLs na internet, 
                tornando a experiência online mais eficiente e conveniente.
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <img class="image" width="20%" src="/../assets/asset.png" alt="">
    </div>
    <div class="row">
        <div class="row">
            <h1 class="col">Vantagens</h1><hr>
        </div>
        <div class="row">
            <div class="col-1 d-flex justify-content-center align-items-center"><h1>1</h1></div>
            <div class="col" align="justify">Rastreamento de Cliques: Muitos serviços de encurtamento de links oferecem recursos avançados de análise, permitindo que os usuários monitorem o desempenho de seus links. Isso inclui o acompanhamento do número de cliques, a localização dos visitantes, as referências de tráfego e até mesmo informações demográficas sobre os usuários que acessam o link. Essas análises são valiosas para campanhas de marketing, pesquisas de mercado e monitoramento de engajamento.</div>
        </div>
        <div class="row mt-2">
            <div class="col-1 d-flex justify-content-center align-items-center"><h1>2</h1></div>
            <div class="col" align="justify">Personalização de Links: Alguns encurtadores permitem personalizar o link curto. Em vez de um link aleatório, você pode escolher uma palavra-chave ou um nome significativo para tornar o link mais descritivo e memorável. Por exemplo, um link "https://encurtador.com/promocao" em vez de um link gerado automaticamente.</div>
        </div>
        <div class="row mt-2">
            <div class="col-1 d-flex justify-content-center align-items-center"><h1>3</h1></div>
            <div class="col" align="justify">Histórico de Links: Muitos encurtadores de links oferecem uma função de histórico, permitindo que os usuários acessem links antigos, verifiquem métricas passadas e até mesmo editem ou excluam links encurtados anteriormente.</div>
        </div>
        <div class="row mt-2">
            <div class="col-1 d-flex justify-content-center align-items-center"><h1>4</h1></div>
            <div class="col" align="justify">Links Expirados: Muitos serviços permitem definir uma data de expiração para o link. Isso é útil para promoções temporárias ou para compartilhar informações que não devem ser acessadas após um determinado período.</div>
        </div>
    </div>
</div>