<ng-container class="">
    <div class="container justify-content-center">
        <div class="row justify-content-md-center m-2">
            <h1></h1>
        </div>
        <div class="row justify-content-md-center m-2">
            <div class="col col-8 border border-1 rounded">
                <p class="mb-0 p-2">{{link}}</p>
            </div>
        </div>
        <div class="row justify-content-md-center mb-2">
            <button mat-raised-button class="col-1" color="primary" (click)="copyText()">Copiar</button>
            <button mat-stroked-button class="col-3" color="primary" (click)="close()">Encurtar outro link</button>
        </div>
    </div>
    
</ng-container>